.Pictures {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    max-width: 100%;
    height: auto;
}

.firstPhoto {
    width: 411px;
    height: 268px;
}

.secondPhoto {
    width: 411px;
    height: 268px;
}

.thirdPhoto {
    width: 411px;
    height: 268px;
}
img {
    width: 100%;
    height: 100%;
}

